* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "DIN";
  src: url("../fonts/DINNextLTArabic-Regular-2.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DINMd";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DINBold";
  src: url("../fonts/DINNextLTArabic-Bold-4.ttf");
  font-weight: 700;
  font-style: normal;
}

input::placeholder {
}
:root {
  --main_color: #0a2664;
  --gray_color: #757984;
}
h1 {
}
.m60 {
  margin-bottom: 60px;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, rgb(200, 25, 28), white);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m80 {
  margin-bottom: 80px;
}
.m100 {
  margin-bottom: 100px;
}

/*start style*/
/*sections*/
.sections {
  margin-bottom: 80px;
  padding: 50px 0px;
  background-color: #f7f8fc;
}
.sections .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.sections .content .part {
  width: calc(25% - 10px);
  padding: 64px 32px 54px;
  max-width: 320px;
  flex: 1;
  position: relative;
  transition: 0.4s;
}
.sections .content .part::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
  background-color: #dde1ee;
}
.sections .content .part:last-of-type::before {
  content: none;
}

.sections .content .part img {
  height: 74px;
  width: auto;
  max-width: 80%;
  display: block;
  margin: auto;
}
.sections .content .part h2 {
  margin-top: 1.5em;
  font-size: 24px;
  color: var(--main_color);
  text-align: center;
  transition: 0.3s;
}
.sections .content .part p {
  color: var(--gray_color);
  font-size: 18px;
  text-align: center;
  transition: 0.3s;
}

.sections .content .part:hover {
  background-color: #0e3793;
}
.sections .content .part:hover h2 {
  color: white;
}
.sections .content .part:hover p {
  color: white;
}
@media (max-width: 1200px) {
  .sections .content .part {
    min-width: calc(50% - 10px);
    max-width: 50%;
    padding: 60px 26px 44px;
  }
  .sections .content .part:nth-last-of-type(odd)::before {
    content: none;
  }
  .sections .content {
    gap: 10px;
  }
  .sections .content .part h2 {
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  .sections .content {
    gap: 10px;
  }
  .sections .content .part {
    min-width: 100%;
    max-width: 100%;
    padding: 30px 4px;
  }
  .sections .content .part::before {
    content: none;
  }
  .sections .content .part h2 {
    margin-top: 0.7em;
  }
  .sections .content .part img {
    height: 64px;
  }
}
/*welcome*/
.welcome {
  margin-bottom: 80px;
}
.welcome .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.welcome .content .part2 {
  min-width: 376px;
  flex: 1;
}
.welcome .content .part2 span {
  font-size: 14px;
  margin-bottom: 16px;
  display: block;
  color: var(--main_color);
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 1;
}
.welcome .content .part2 h2 {
  color: var(--main_color);
  font-size: 48px;
  margin-bottom: 26px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  font-family: inherit;
  line-height: 1em;
}
.welcome .content .part2 p {
  color: var(--gray_color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
}
.welcome .content .part2 a {
  background-color: #fe6402;
  width: 180px;
  height: 50px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-top: 30px;
  transition: 0.3s;
  border: none;
}
.welcome .content .part2 a:hover {
  background-color: #e54f00;
}

.welcome .content .part1 {
  position: relative;
  max-width: 520px;
}
.welcome .content .part1 .mainImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.welcome .content .part1 h4 {
  padding: 50px 32px;
  background-color: #061b46;
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.086em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.35px;
  width: 340px;
  position: absolute;
  bottom: 0px;
  right: -40px;
  margin: 0;
}

@media (max-width: 1200px) {
  .welcome .content .part2 h2 {
    font-size: 34px;
    margin-bottom: 18px;
  }
  .welcome .content .part2 p {
    margin-top: 18px;
  }
  .welcome .content {
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .welcome .content .part1 h4 {
    padding: 20px 20px;
    background-color: #061b46;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    position: relative;
    bottom: 0px;
    right: 0px;
    margin: 20px 0px 0px;
  }
}
@media (max-width: 768px) {
  .welcome .content {
    flex-direction: column;
  }
  .welcome .content .part2 {
    min-width: 100%;
    flex: 1;
  }
  .welcome .content {
    gap: 30px;
  }
  .welcome .content .part1 h4 {
    font-size: 16px;
    margin: 20px 0px 0px;
  }
  .welcome .content .part2 h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .welcome .content .part2 p {
    margin-top: 8px;
  }
}
/*followUs*/
.followUs {
  background-image: url("../images/shep.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 90px;
  height: 800px;
  padding: 90px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.followUs::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: #06060666;
  z-index: 0;
}
.followUs .content {
  color: white;
  text-align: center;
  max-width: 640px;
  position: relative;
}
.followUs .content h2 {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 12px;
}
.followUs .content h3 {
  color: white;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  margin-bottom: 30px;
  font-weight: 700;
}
.followUs .content a {
  padding: 14px 20px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.4px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: auto;
  transition: 0.4s;
}
.followUs .content a:hover {
  background-color: white;
  color: var(--main_color);
}
@media (max-width: 1200px) {
  .followUs {
    height: auto;
    padding: 90px 40px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .followUs {
    height: auto;
    padding: 60px 20px;
    position: relative;
  }
  .followUs .content h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .followUs .content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
/*blog*/
.blog {
  padding: 100px 0px;
  background-color: #f7f8fc;
}
.blog .content {
}
.blog .content {
}
.blog .content .titleBlog {
  text-align: center;
  color: var(--main_color);
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 1;
  margin-bottom: 14px;
}
.blog .content h3 {
  font-size: 3.167em;
  font-weight: 600;
  font-style: normal;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  margin-bottom: 30px;
  color: var(--main_color);
  text-align: center;
}
.blog .content .parts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.blog .content .parts .part {
  flex: 1;
  padding: 20px 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 350px;
  text-align: start;
  transition: 0.4s;
  max-width: 350px;
}

.blog .content .parts .part .headBlog {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}
.blog .content .parts .part .headBlog h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.4em;
  margin: 0;
  color: var(--main_color);
}
.blog .content .parts .part .headBlog span {
  font-size: 14px;
  color: var(--gray_color);
}
.blog .content .parts .part h2 {
  margin-bottom: 14px;
  color: var(--main_color);
  font-size: 1.167em;
  font-weight: 600;
  font-style: normal;
  line-height: 1.333em;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.blog .content .parts .part p {
  font-size: 18px;
  color: var(--gray_color);
  margin-bottom: 18px;
}
.blog .content .parts .part .arrow {
  height: 20px;
  transition: 0.4s;
}
.blog .content .parts .part:hover {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
}
.blog .content .parts .part:hover .arrow {
  margin: 0px 10px;
}

@media (max-width: 992px) {
  .blog .content .parts {
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
  }
  .blog .content .parts .part {
    padding: 20px 22px;
    max-width: calc(50% - 10px);
  }
  .blog .content .parts .part p {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .blog .content .parts .part h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .blog .content .parts {
    flex-direction: column;
  }
  .blog .content .parts .part {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    padding: 46px 20px;
  }
  .blog .content h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .blog {
    padding: 52px 0px;
  }
}
/*headerSections*/
.headerSections {
  height: 700px;
}
.headerSections .swiper {
  height: 100%;
}
.headerSections .swiper .swiper-wrapper {
}
.headerSections .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.headerSections .swiper .swiper-wrapper .swiper-slide .mainImg {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.headerSections .swiper .swiper-wrapper .swiper-slide .content {
  position: absolute;
  z-index: 50;
  left: 70px;
  bottom: 0px;
  color: white;
  opacity: 0.7;
  transition: 1.5s;
}
.headerSections .swiper .swiper-wrapper .swiper-slide .content .title {
  line-height: 31px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: -20px;
  transition: 1.4s;
}
.headerSections .swiper .swiper-wrapper .swiper-slide .content .subtitle {
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 160px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 160px;
  margin-bottom: -20px;
  transition: 0.5s;
}
.headerSections
  .swiper
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .content {
  opacity: 1;
  bottom: 50px;
}
.headerSections
  .swiper
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .content
  .title {
  margin-bottom: 0px;
}
.headerSections
  .swiper
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .content
  .subtitle {
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  .headerSections {
    height: 500px;
  }
  .headerSections .swiper .swiper-wrapper .swiper-slide .content .subtitle {
    font-size: 90px;
    line-height: 90px;
  }
  .headerSections .swiper .swiper-wrapper .swiper-slide .content .title {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .headerSections .swiper .swiper-button-next,
  .headerSections .swiper .swiper-button-prev {
    display: none;
  }
  .headerSections .swiper .swiper-wrapper .swiper-slide .content {
    left: 20px;
  }
  .headerSections .swiper .swiper-wrapper .swiper-slide .content .subtitle {
    font-size: 60px;
    line-height: 60px;
  }
}
/*nav*/
.new-nav {
  position: absolute;
  z-index: 20;
  top: 40px;
  width: 100%;
}
.navbar {
  color: white;
  justify-content: space-between;
  padding: 0;
}
.navbar .container {
  position: relative;
}
.navbar h1 {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
}
.navbar-light .navbar-brand {
  color: white;
}
a.navbar-brand {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.navbar-toggler {
  border: none;
  transition: 0.5s;
}
.navbar-light .navbar-toggler {
  border-color: rgb(255 255 255);
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: none;
}

div#navbarSupportedContent {
  max-width: 62%;
  justify-content: flex-end;
  gap: 37px;
  align-items: center;
}

ul.navbar-nav.mr-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

ul.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 0;
}

a.nav-link {
  font-size: 14px;
  font-weight: 800;
  font-family: Poppins;
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgb(255 255 255 / 90%);
}
.navbar ul.ulNav li {
  position: relative;
  transition: 0.4s;
}

.navbar ul.ulNav li::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: white;
  width: 0%;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}
.navbar ul.ulNav li.active::before {
  width: 90%;
}
.navbar ul.ulNav li:hover::before {
  width: 90%;
}
.navbar ul.ulNav li a:hover {
  color: white !important;
}
@media (max-width: 992px) {
  div#navbarSupportedContent {
    background-color: #2b3669;
    max-width: 100%;
    padding: 0;
    margin-top: 10px;
    border-radius: 10px;
  }
  ul.navbar-nav.mr-auto {
    margin-bottom: 25px;
  }
  .new-nav {
    top: 20px;
  }
  .navbar ul.ulNav {
    margin-top: 30px;
  }
  .navbar ul.ulNav2 {
    margin-bottom: 30px;
  }
}

/*end navbar*/

/*new footer*/
.newfooter {
  background-color: var(--main_color);
  padding: 70px 0px 50px;
  color: white;
}
.newfooter a {
  color: white;
}
footer.footer-dec {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  /* flex-flow: wrap; */
}
.l-footer {
  max-width: 400px;
}
.head-footer {
  display: flex;
  align-items: center;
  gap: 24px;
}
.l-footer p {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
}
span.recolor {
  color: #1a6eff;
}
.l-footer h4,
.r-footer li {
  font-size: 13px;
  font-weight: 300;
}
.l-footer h4 {
  padding: 14px 0px;
  color: white;
  line-height: 25px;
}
p.footer-links {
  display: flex;
  gap: 36px;
}
.r-footer {
  display: flex;
  gap: 90px;
  color: white;
}

li.r-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 40px;
}
.r-footer a {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.r-footer li p {
  margin-bottom: 10px;
}

/*copy*/
.copy {
  margin-top: -1px;
  background-color: var(--main_color);
}
.copy h4 {
  font-size: 12px;
  text-align: center;
  color: white;
  font-weight: 200;
  padding: 35px 0px;
  margin: 0;
}
@media (max-width: 1200px) {
  footer.footer-dec {
    gap: 50px;
    flex-flow: wrap;
    padding-left: 20px;
  }
  .r-footer {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .r-footer {
    gap: 50px;
  }
  .newfooter {
    background-color: var(--main_color);
    padding: 40px 0px 6px;
    color: white;
  }
}
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}

/*membership*/
.membership {
  margin-bottom: 80px;
}
.membership .content {
}
.membership .content .headTitle1 {
  color: var(--main_color);
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 1;
}
.membership .content .headTitle2 {
  color: var(--main_color);
  font-size: 54px;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}
.membership .content {
}
.membership .content .parts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.membership .content .parts .membershipUser {
  min-width: calc(50% - 15px);
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}
.membership .content .parts .membershipUser .part1 {
  max-width: 314px;
  overflow: hidden;
  transition: 0.4s;
  width: 100%;
}
.membership .content .parts .membershipUser .part1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.4s;
}
.membership .content .parts .membershipUser .part1:hover img {
  transform: scale(1.04);
}
.membership .content .parts .membershipUser .part2 {
  min-width: 210px;
  flex: 1;
}
.membership .content .parts .membershipUser .part2 h2 {
  font-size: 24px;
  color: var(--main_color);
  margin-bottom: 10px;
}
.membership .content .parts .membershipUser .part2 h3 {
  color: var(--gray_color);
  font-size: 18px;
  margin-bottom: 16px;
}
.membership .content .parts .membershipUser .part2 p {
  color: #767984;
  font-size: 18px;
}
.membership .content .parts .membershipUser .part2 ul {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.membership .content .parts .membershipUser .part2 ul li {
}
.membership .content .parts .membershipUser .part2 ul li a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #dde1ee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.membership .content .parts .membershipUser .part2 ul li a:hover {
  transform: translateY(-8px);
}
.membership .content .parts .membershipUser .part2 ul li a svg {
  width: 22px;
  height: auto;
}
.membership .content .parts .membershipUser .part2 ul li a:hover svg path {
  color: #fe6402;
  fill: #fe6402;
}
@media (max-width: 992px) {
  .membership .content .parts .membershipUser {
    flex-direction: column;
    gap: 10px;
  }
  .membership .content .parts {
    gap: 40px 22px;
  }
  .membership .content .parts .membershipUser .part1 {
    max-width: 100%;
  }
  .membership .content .parts .membershipUser .part2 {
    min-width: 100%;

    padding: 0px 12px 0px;
  }
  .membership .content .parts .membershipUser .part2 ul li a {
    width: 34px;
    height: 34px;
  }
  .membership .content .parts .membershipUser .part2 ul li a svg {
    width: 16px;
    height: auto;
  }
  .membership .content .parts .membershipUser .part2 ul {
    margin-top: 16px;
  }
  .membership .content .parts .membershipUser .part2 h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .membership .content .parts .membershipUser .part2 h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .membership .content .parts .membershipUser .part2 p {
    font-size: 17px;
  }
  .membership .content .headTitle2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .membership .content .parts {
    flex-direction: column;
    gap: 32px 22px;
  }
  .membership .content .headTitle2 {
    font-size: 26px;
    margin-bottom: 26px;
  }
}
/*events*/
.events {
  margin-bottom: 80px;
}
.events .content {
}

.events .content span.headEvent1 {
  color: var(--main_color);
  font-size: 14px;
  margin-bottom: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 1;
  display: block;
}
.events .content .headEvent {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  min-height: 160px;
}
.events .content h2 {
  color: var(--main_color);
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}
.events .content p {
  flex: 1;
}
.events .content a {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.events .content a span {
  color: var(--main_color);
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.events .content a svg {
  height: 20px;
  width: auto;
}
.events .content a svg path {
  fill: var(--main_color);
  color: var(--main_color);
}
@media (max-width: 992px) {
  .events .content h2 {
    font-size: 30px;
  }
  .events .content .headEvent {
    gap: 20px;
    min-height: 160px;
    flex-direction: column;
  }
  .events .content a {
    justify-content: flex-start;
  }
  .events .content .headEvent {
    min-height: auto;
    gap: 8px;
  }
}

/*plans*/
.plans {
  background-color: #f6f7fb;
}
.plans .content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.plans .content .part1 {
  display: flex;
  gap: 20px;
}
.plans .content .part1 .part {
  background-color: white;
  padding: 70px 30px;
}
.plans .content .part1 .part h2 {
  font-size: 18px;
  line-height: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
  color: var(--main_color);
  margin-bottom: 8px;
  text-align: center;
}
.plans .content .part1 .part h3 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--gray_color);
  font-size: 17px;
  line-height: 1.3em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}
.plans .content .part1 .part .pricePlan {
  color: var(--main_color);
  display: flex;
  justify-content: center;
  text-align: center;
}
.plans .content .part1 .part .pricePlan p {
  color: var(--main_color);
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
}
.plans .content .part1 .part .pricePlan sup {
  color: var(--main_color);
  font-size: 20px;
  font-weight: 600;
  vertical-align: top;
  line-height: 1.85em;
  margin-right: 4px;
}
.plans .content .part1 .part .pricePlan span {
  font-size: 17px;
  font-weight: 400;
  color: #757984;
  align-self: flex-end;
}
.plans .content .part1 .part ul {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.plans .content .part1 .part ul li {
  color: var(--gray_color);
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
}
.plans .content .part1 .part a {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: var(--main_color);
  color: white;
  width: 90%;
  margin: 24px auto 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans .content .part2 {
  max-width: 480px;
  flex: 1;
}
.plans .content .part2 h2 {
  color: var(--main_color);
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 12px;
}
.plans .content .part2 h3 {
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: var(--main_color);
  margin-bottom: 18px;
}
.plans .content .part2 h4 {
  color: var(--gray_color);
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.plans .content .part2 a {
  display: flex;
  align-items: center;
  gap: 6px;
}
.plans .content .part2 a span {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dde1ee;
  border-radius: 50%;
}
.plans .content .part2 a svg {
  width: 14px;
  height: auto;
}
.plans .content .part2 a p {
  color: var(--main_color);
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .plans .content {
    flex-direction: column-reverse;
  }
  .plans .content .part2 {
    max-width: 100%;
  }
  .plans .content .part1 {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .plans .content .part1 {
    flex-direction: column;
  }
}
/*shop*/
.shop {
  margin-bottom: 80px;
}
.shop .content {
}
.shop .content .title1 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 1;
  color: var(--main_color);
  margin-bottom: 8px;
  text-align: center;
}
.shop .content .title2 {
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.6px;

  color: var(--main_color);

  text-align: center;
}
.shop .content .parts {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  gap: 30px 20px;
  flex-wrap: wrap;
}
.shop .content .parts .part {
  min-width: calc(25% - 15px);
  flex: 1;
  position: relative;
}
.shop .content .parts .part .sallAmount {
  padding: 0px 10px;
  background-color: #fe6402;
  color: white;
  font-size: 11px;
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
}
.shop .content .parts .part .headPart {
  max-width: 100%;
  position: relative;
}
.shop .content .parts .part .headPart .mainImg {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.shop .content .parts .part .headPart ul {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  gap: 6px;
  opacity: 0;

  transition: 0.7s;
}
.shop .content .parts .part .headPart:hover ul {
  opacity: 1;
  top: 50%;
}
.shop .content .parts .part .headPart ul li {
  width: 46px;
  max-width: 30%;
  height: 46px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
  transition: 0.5s;
}
.shop .content .parts .part .headPart ul li .btnShop {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop .content .parts .part .headPart ul li .btnShop svg {
  width: 40%;
  height: auto;
}
.shop .content .parts .part .headPart ul li:hover {
  transform: translateY(-10px);
}
.shop .content .parts .part .headPart ul li:hover svg path {
  fill: #fe6402;
  color: #fe6402;
}

.shop .content .parts .part .headPart ul li .btnShop svg path {
}
.shop .content .parts .part .partDetails {
  text-align: center;
  padding: 22px 4px;
}
.shop .content .parts .part .partDetails h2 {
  color: var(--main_color);
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 0;
}
.shop .content .parts .part .partDetails .priceShop {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}
.shop .content .parts .part .partDetails .priceShop .sall {
  color: #94979f;
  font-size: 1em;
  opacity: 1;
  text-decoration: none;
  font-weight: 600;
  text-decoration: line-through;
}
.shop .content .parts .part .partDetails .priceShop .total {
  color: #757984;
  font-size: 1em;
  opacity: 1;
  text-decoration: none;
  font-weight: 600;
}
.shop .content .parts .part .partDetails .starts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100px;
  flex-wrap: wrap;
  margin: 8px auto 0px;
}
.shop .content .parts .part .partDetails .starts li {
  width: calc(25% - 1px);
  flex: 1;
}
.shop .content .parts .part .partDetails .starts li svg {
  width: 100%;
  height: auto;
}
.shop .content .parts .part .partDetails .starts li svg path {
}
@media (max-width: 992px) {
  .shop .content .parts .part {
    min-width: calc(50% - 10px);
  }
  .shop .content .title2 {
    font-size: 38px;
  }
}
@media (max-width: 560px) {
  .shop .content .parts .part {
    min-width: 100%;
  }
  .shop .content .title2 {
    font-size: 26px;
  }
}
/*gallary*/
.gallary {
  margin-bottom: 80px;
}
.gallary .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 480px 480px;
  gap: 0 0;
  grid-template-areas:
    "lg-7-1 lg-7-1 sm-7-1 sm-7-2"
    "lg-7-1 lg-7-1 sm-7-3 sm-7-4";
}
.gallary .content .part {
  overflow: hidden;
  position: relative;
}
.gallary .content .part.part1 {
  grid-area: lg-7-1;
}
.gallary .content .part.part2 {
  grid-area: sm-7-1;
}
.gallary .content .part.part3 {
  grid-area: sm-7-2;
}
.gallary .content .part.part4 {
  grid-area: sm-7-3;
}
.gallary .content .part.part5 {
  grid-area: sm-7-4;
}
.gallary .content .part:hover img {
  transform: scale(1.03);
}
.gallary .content .part img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.gallary .content .part .info{
  position: absolute;
  z-index: 5;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: 0.8s;
}
.gallary .content .part .info h2{
  padding: 10px 18px;
  background-color: var(--main_color);
  color: white;
  line-height: 1.25em;
    letter-spacing: 0;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
    margin-bottom: 6px;
}
.gallary .content .part .info h3{
  padding: 6px 18px;
  background-color: var(--main_color);
  color: white;
  font-size: 16px;
  line-height: 1.4em;
  width: fit-content;
  font-weight: 400;
  margin: 0;
  
}
.gallary .content .part:hover .info{
  opacity: 1;
 
}
@media (max-width: 1200px) {
  .gallary .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    gap: 0 0;
    grid-template-areas:
      "lg-1 md-1"
      "lg-1 md-2"
      "lg-2 lg-3"
      "lg-2 lg-3";
  }
  .gallary .content .part.part1 {
    grid-area: lg-1;
  }
  .gallary .content .part.part2 {
    grid-area: md-1;
  }
  .gallary .content .part.part3 {
    grid-area: md-2;
  }
  .gallary .content .part.part4 {
    grid-area: lg-2;
  }
  .gallary .content .part.part5 {
    grid-area: lg-3;
  }
}
@media (max-width: 768px) {
  .gallary .content .part .info{
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    transition: 0.8s;
  }
  .gallary .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 0 0;
    grid-template-areas:
      "md-1 md-2"
      "md-3 md-4"
      "md-5 md-5";
  }
  .gallary .content .part.part1 {
    grid-area: md-1;
  }
  .gallary .content .part.part2 {
    grid-area: md-2;
  }
  .gallary .content .part.part3 {
    grid-area: md-3;
  }
  .gallary .content .part.part4 {
    grid-area: md-4;
  }
  .gallary .content .part.part5 {
    grid-area: md-5;
  }
  .gallary .content .part .info h2{
    padding: 8px 16px;
      font-size: 16px;
  }
  .gallary .content .part .info h3{
    padding: 6px 16px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .gallary .content {
    display: block !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 0 0;
    grid-template-areas:
      "md-1 md-2"
      "md-3 md-4"
      "md-5 md-5";
  }
  .gallary .content .part{
    max-height: 350px;
  }
 

}
